*{
    margin:0;
    padding:0;
}
#root{
    height:100vh;
}
html,body{
    width:100%;
    margin:0;
    padding:0;
}
.home-icon-sidebar{
    cursor: pointer;
}
.home-icon-sidebar:hover{
    scale:1.2;
}
