.nav-menu-item{
    display:none;
    font-size:45px;
}


@media(max-width:1000px){
    .nav-bar-top-div .FaSearch{
        width:90%;
    }
}
@media(max-width:700px){
    .nav-menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}