.calendar-card {
  animation: fadeIn 0.5s ease;
}

.holiday-dot {
  height: 6px;
  width: 6px;
  background: red;
  border-radius: 50%;
  margin: auto;
  margin-top: 2px;
}






@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
